[privilege_escalation]
#If you have a non root user with sudo password set to true to get interactive password prompt
become_ask_pass = False

[defaults]
ask_pass = False
inventory = hosts
host_key_checking = False
#Default SSH key for the connection
ansible_ssh_private_key_file=~/.ssh/do_vpn_id_rsa

[ssh_connection]
pipelining = True
#Keep master connection open up to 30 minutes
ssh_args = -o ControlMaster=auto -o ControlPersist=1800